*,
*::before,
*::after {
box-sizing: border-box;
}
ul[class],
ol[class] {
padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
margin: 0;
}
body {
min-height: 100vh;
scroll-behavior: smooth;
text-rendering: optimizeSpeed;
line-height: 1.5;
}
ul[class],
ol[class] {
list-style: none;
}
a:not([class]) {
text-decoration-skip-ink: none;
}
a{
    text-decoration-color: black;
    text-decoration: none;
}
img {
max-width: 100%;
display: block;
}
article > * + * {
margin-top: 1em;
}
input,
button,
textarea,
select {
font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
}
}
body{
    font-family: "Poiret One";
}

.wrapper{
    height: 30%;
    background-color: #E7EEDE;
}
.header{
    width: 100%;
    height: auto;    
}
.line{
    height: 4px;
    background: linear-gradient(to right, #112D46, #A0AC93, #173f63);
    width: 100%;
}
.header__title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    font-size: 128px;
}
@media (max-width: 430px) {
    .header__title{
        font-size: 100px;
    }
}

.responsive{
    font-weight: 700;
    margin: 40px 0px 40px 0px;
}
div.gallery {
    border: 1px solid #ccc;
}
div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
}
  * {
    box-sizing: border-box;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
@media only screen and (max-width: 700px) {
    .responsive {
    width: 49.99999%;
    margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
    width: 100%;
    }
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}